logs/
Prints/
*.xml
ClinicProjectSrc\build\classes/
*.class
*.properties
ClinicProjectSrc/build/test/classes/.netbeans_update_resources
ClinicProjectSrc/build/test/classes/.netbeans_automatic_build
*.properties
ClinicProjectSrc/nbproject/private/private.properties
